/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Banner
- Tabs
- Main Dashboard Tab
- Tables/Dropdown
–––––––––––––––––––––––––––––––––––––––––––––––––– */


body {
  background-color: #1e2130;
  color: #f3f5f4;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100vh;
  max-width: 100% !important;
  overflow-x: hidden;
  margin: 0;
}

.banner {
  height: fit-content;
  background-color: #040818;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #4B5460;
  padding: 1rem 10rem;
  width: 100%;
}


.banner h5 {
  font-family: 'Open Sans Semi Bold', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.banner h6 {
  font-size: 1.6rem;
  line-height: 1;
}

#banner-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.banner button:hover {
  color: #92e0d3;
  border-color: whitesmoke;
}

.banner Img {
  height: 3rem;
  margin: 0px 150px;
}

/* Tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#tabs {
  width: 100%;
}

.custom-tabs {
  background-color: #1E2130;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  height: fit-content;
  cursor: pointer;
}

#sim-res-tab.custom-tab, #strategy-viz-tab.custom-tab {
  background-color: #161a28;
  letter-spacing: 1px;
  color: inherit;
  border: 0;
  border-bottom: #1E2130 solid 4px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 18px;
}

#sim-res-tab.custom-tab--selected, #strategy-viz-tab.custom-tab--selected {
  border-bottom: #91dfd2 solid 4px !important;
}

#sim-res-tab.custom-tab {
  margin-right: 3px;
}

#strategy-viz-tab.custom-tab {
  margin-left: 3px;
}


/* Main Dashboard Tab
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Move DatePicker Close SVG Button */
.DateRangePickerInput_clearDates {
  transform: translate(12px,-20px)
}


/* Dropdown
----------------------------------------------*/

/*Dropdown items*/
.Select-control, .Select-multi-value-wrapper, .Select-menu-outer div {
  background-color: #242633;
}

/*Dropdown items*/
.Select-control, .Select, .Select-value-label, .Select-clear-zone {
  color: white;
}


/*Dropdown items*/
.Select-menu-outer {
  background-color: #242633;
  border: 1px solid darkgray !important;
}

/*Dropdown items*/
.Select-menu-outer div:hover {
  background-color: rgba(36, 38, 51, 0.5) !important;
  cursor: pointer;
}

/*Dropdown arrow + delete button*/
.Select-control, .Select-control > span {
  color: white;
  background: #242633 !important;
}

/*Placeholder*/
.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: white !important;
}

/*Placeholder*/
.Select--single > .Select-control .Select-value, .Select-placeholder {
  /*border: 1px solid darkgray;*/
  border-radius: 4px;
  background-color: #242633;
  cursor: pointer;
}


.Select.is-focused:not(.is-open) > .Select-control {
  border-color: #91dfd2 !important;
}

/* Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#app-container {
  background: #161a28;
  margin: 1rem 2rem;
  max-width: 100%;
  width: 100%;
  height: calc(100vh - 10rem - 1px);
}

#app-content {
  background: inherit;
  padding: 50;
  align-items: center;
  margin-left: 6rem;
  width: 100%;
  max-width: 100%;
}


/* Tab 2 Strategy Visualizer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ##Device = Most of the Smartphones Mobiles / ipad (Portrait) */
@media only screen and (max-width: 950px) {

  body {
    font-size: 1.3rem;
  }

  #big-app-container {
    padding: 1rem;
  }

  .banner {
    flex-direction: column-reverse;
    padding: 1rem 0.5rem;
  }

  #banner-text {
    text-align: center;
  }

  .banner h5 {
    font-size: 1.4rem;
  }

  .banner h6 {
    font-size: 1.3rem;
  }

  #banner-logo button {
    display: none;
  }

  .banner Img {
    height: 3rem;
    /* margin: 1rem; */
  }

  #app-container {
    height: auto;
  }

  #set-specs-intro-container {
    margin: 4rem 2rem 0rem 2rem;
    font-size: inherit;
  }

  #settings-menu {
    margin: 2rem;
    flex-direction: column;
  }

  #settings-menu > div {
    width: 100%;
    flex: none;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    margin: 2rem 0rem;
  }

  #value-setter-panel-header {
    display: none;
  }

  #button-div {
    display: block;
    text-align: center;
  }

  #button-div button {
    margin: 1rem auto;
    display: block;
  }

  #status-container, #top-section-container {
    flex-direction: column;
    height: auto;
  }

  #quick-stats {
    max-width: 100%;
  }

  #graphs-container {
    flex: 1;
    max-width: 100%;
    width: 100%;
  }

  #top-section-container > div {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
#strategy-viz-tab.custom-tab {
    margin-left: 0;
  }
}
